.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    color: #333;
    width:90%;
    position:absolute;
    top:3%;
    left:5%;
    z-index: 10000;
    border-radius: 5px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    padding:5px 0
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  